[Unit]
Description=incorg-room-creator
After=network.target

[Service]
WorkingDirectory={{ nics_home_directory }}/deploy/incorg-room-creator
ExecStart=/usr/bin/java -DappName=incorg-room-creator -Xmx256M -server -cp "./lib/*" org.apache.camel.spring.Main -fa config/spring/incorg-room-creator.xml
User=tomcat8
Type=simple
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
